.second-block {
  margin-top: rem(70px);
  width: 55%;
  @include screen-lt(mobile) {
    width: 100%;
  }
  h2 {
    text-transform: uppercase;
    @include screen-lt(mobile) {
      font-size: 5.5vw;
    }
  }
  span {
    color: $green;
  }
  ul {
    margin-left: 20px;
    li {
      font-size: rem(24px);
      color: $white;
      @include main-font(400);
      padding: rem(20px 0);
      @include screen-lt(mobile) {
        font-size: 3vw;
      }
    }
  }
  &__image {
    width: 40%;
    @include screen-lt(mobile) {
      display: none;
    }
    img {
      width: 100%;
      margin-top: rem(200px);
    }
  }
}