.description {
  color: $white;
  @include base-aligns();
  @include base-margins();
  @include base-weight();
  &__size {
    &_l {
      font-size: rem(50px);
    }
    &_m {
      font-size: rem(24px);
    }
    &_s {
      font-size: rem(12px);
    }
  }

  &__color {
    &_white {
      color: $white;
    }
    &_green {
      color: $green;
    }
    &_black {
      color: $black;
    }
  }
}
