$transitionHover: ease-in 200ms;
$transitionActive: ease-in 150ms;

$btn-void: $green, $black, #B5FF27, $black, #7CC427, $black, $grey, $black;
$btn-fill: transparent, $white, #ff510047, $white, transparent, $white, $grey, $white;
@mixin btn-style(
  $colorBgDefault,
  $colorDefault,
  $colorBgHover,
  $colorHover,
  $colorBgActive,
  $colorActive,
  $colorBgDisabled,
  $colorDisabled
) {
  background: $colorBgDefault;
  color: $colorDefault;
  &:hover {
    background: $colorBgHover;
  }

  &:active {
    background: $colorBgActive;
    color: $colorActive;
  }

  &:disabled {
    background: $colorBgDisabled;
    cursor: not-allowed;
    user-select: none;
  }
}

.ux-button {
  @include base-sizes();
  @include base-margins();
  height: rem(85px);
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: rem(36px);
  border-radius: rem(10px);
  @include main-font(700);
  text-transform: uppercase;
  &:focus {
    outline: none;
  }

  &:hover {
    transition: $transitionHover;
  }

  &:active {
    transition: $transitionActive;
  }

  &__style {
    &_void {
      @include btn-style($btn-void...);
    }
    &_fill {
      @include btn-style($btn-fill...);
      border: 1px solid $green;
      &:hover {
        border: 1px solid $green;
      }
    }
  }

}
