.header {
  height: rem(90px);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  display: flex;
  a {
    &:first-child {
      img {
        width: rem(157px);
      }
    }
    &:last-child {
      img {
        width: rem(113px);
      }
    }
  }
  img {
    height: 100%;
    display: flex;
    margin: 0 rem(50px);
  }
}