.title {
  @include base-aligns();
  @include base-margins();
  @include base-weight();
  color: $white;
  &__size {
    &_l {
      font-size: rem(72px);
    }
    &_m {
      font-size: rem(48px);
    }
    &_s {
      font-size: rem(18px);
    }
  }
  &__color {
    &_white {
      color: $white;
    }
    &_green {
      color: $green;
    }
    &_black {
      color: $black;
    }
  }
}
