.third-block {
  display: flex;
  padding: rem(80px);
  width: 70%;
  position: relative;
  @include screen-lt(tablet) {
    width: 75%;
  }
  @include screen-lt(mobile) {
    width: 100%;
    padding: rem(20px);
  }

  &__row {
    margin-top: rem(70px);
    width: 100%;
    background-image: url('../../../../statics/image_3block_brush.png');
    background-size: contain;
    background-repeat: no-repeat;
    @include screen-lt(desktop) {
      background-position: -10% 50%;
    }
    @include screen-lt(desktop-small) {
      background-position: -100% 50%;
    }
    @include screen-lt(desktop-x-small) {
      background-position: -140% 50%;
    }
  }
  h2, span {
    text-transform: uppercase;
    @include screen-lt(desktop) {
      font-size: rem(58px);
    }
    @include screen-lt(desktop-x-small) {
      font-size: rem(54px);
    }
    @include screen-lt(tablet) {
      font-size: rem(40px);
    }
    @include screen-lt(tablet) {
      font-size: 5.5vw;
    }
  }

  p {
    @include screen-lt(tablet) {
      font-size: 3.5vw;
    }
  }
  &__title {
    position: relative;
    width: fit-content;
    z-index: 2;
    &:after {
      content: '';
      position: absolute;
      top: -2.5%;
      left: -2.5%;
      background-color: $green;
      width: 105%;
      z-index: -1;
      height: 105%;
    }
  }

  &__image {
    width: 30%;
    @include screen-lt(tablet) {
      display: none;
    }
    img {
      width: 100%;
      border: rem(9px) solid $green;
      border-left: none;
    }
  }
  button {
    margin: rem(75px 0 26px 0);
    @include screen-lt(mobile) {
      width: 100%;
      font-size: 6vw;
    }
  }
  img {
    width: rem(700px);
    position: absolute;
    right: -190px;
    bottom: -50px;
    z-index: 4;
  }
}