.modal__default {
  background-color: #151C26;
  padding: rem(60px 0);
  h2 {
    text-transform: uppercase;
    margin-bottom: rem(70px);
    @include screen-lt(mobile) {
      font-size: 5.5vw;
    }
  }
  span  {
    color: $green;
  }
}

.modal__icon {
  background: rgba(255,255,255,0.19);
  border: 1px solid rgba(255,255,255,0.59);
  width: rem(420px);
  a {
    padding: rem(40px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include screen-lt(mobile-small) {
      padding: 0;
    }
  }
  img {
    width: 100%;
  }
  @include screen-lt(mobile-small) {
    padding: rem(20px);
  }
}