.modal__default {
  background-color: #151C26;
  padding: rem(60px 0);
  h2 {
    text-transform: uppercase;
    text-align: center;
  }
  span  {
    color: $orange;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: rem(50px 0);
  }
  &_number {
    font-size: rem(48px);
    margin-left: rem(10px);
    @include main-font(600);
    color: $white;
    padding: rem(10px 0);
    width: rem(70px);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $orange;
    border-radius: rem(15px);
    background-color: $black;
    &:first-child {
      margin-right: 0;
    }
  }

  a {
    color: $orange;
    text-decoration: underline;
  }
}

.modal__icon {
  background: rgba(255,255,255,0.19);
  border: 1px solid rgba(255,255,255,0.59);
  width: rem(420px);
  a {
    padding: rem(40px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include screen-lt(mobile-small) {
      padding: 0;
    }
  }
  img {
    width: 100%;
  }
  @include screen-lt(mobile-small) {
    padding: rem(20px);
  }
}