.main-block {
  border: rem(3px) solid rgba(255,255,255,0.2);
  display: flex;
  padding: rem(40px);
  position: relative;
  @include screen-lt(mobile) {
    padding: rem(30px);
  }


  &__wrapper {
    border: rem(9px) solid $green;
    max-width: rem(1188px);
    width: 70%;
    display: flex;
    justify-content: center;
    padding: rem(40px);
    height: 100%;
    @include screen-lt(mobile) {
      width: 100%;
      padding: rem(20px);
    }
  }

  &__row {
    margin-top: rem(70px);
    width: 100%;
    background-image: url('../../../../statics/image_1block_brush.png');
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    &:after {
      content: '';
      top: 0;
      right: 0;
      width: 50%;
      position: absolute;
      height: 100%;
      background-image: url('../../../../statics/image_1block_disk.png');
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      @include screen-lt(mobile) {
        background-image: none;
      }
    }
  }
  h2, p {
    text-transform: uppercase;
  }
  h2 {
    @include screen-lt(desktop) {
      font-size: rem(61px);
    }
    @include screen-lt(desktop-x-small) {
      font-size: rem(56px);
    }
    @include screen-lt(tablet) {
      font-size: rem(40px);
    }
    @include screen-lt(mobile) {
      font-size: 5.5vw;
    }
  }
  .description__color_green {
    @include screen-lt(tablet) {
      font-size: rem(40px);
    }
    @include screen-lt(mobile) {
      font-size: 5.5vw;
    }
  }

  p {
    @include screen-lt(mobile) {
      font-size: 3.5vw;
    }
  }

  &__title {
    position: relative;
    width: fit-content;
    z-index: 2;
    &:after {
      content: '';
      position: absolute;
      top: -2.5%;
      left: -2.5%;
      background-color: $green;
      width: 105%;
      z-index: -1;
      height: 105%;
    }
  }

  &__mobile {
    display: none;
    @include screen-lt(mobile) {
      display: flex;
      margin-left: rem(-30px);
      width: calc(100% + 3.75rem);
      margin-top: rem(80px);
    }
  }
  button {
    margin: rem(75px 0 26px 0);
    @include screen-lt(mobile) {
      margin: rem(100px 0 26px 0);
      width: 100%;
      font-size: 6vw;
    }
  }
  .main-block__gift {
    width: rem(700px);
    position: absolute;
    right: -190px;
    bottom: -50px;
    z-index: 4;
    @include screen-lt(desktop) {
      width: rem(650px);
    }
    @include screen-lt(tablet) {
      width: rem(450px);
    }
    @include screen-lt(mobile) {
      display: none;
    }
  }
}