.footer {
  z-index: 2;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: rgba(11, 14, 19, 0.85);
  padding: rem(20px 0);
  p {
    text-align: center;
    font-size: rem(16px);
    margin-bottom: rem(5px);
  }
  a {
    font-size: rem(16px);
    color: $white;
    &:hover {
      text-decoration: underline;
    }
  }
}

#root {
  position: relative;
}