.home {
  @include container-size();
  padding-bottom: rem(200px);
  &__button {
    margin: rem(100px 0);
    @include screen-lt(mobile-small) {
      button {
        width: 100%;
      }
    }
  }
}